*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: montserrat;
    background: #01182b;
}
header{
    overflow-y: hidden;
    left: 100%;
}
.vid-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 87%;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner-text h2{
    color: #fff;
    font-size: 30px;
    margin-top: 40%;
}
.banner-text p{
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}
.btn{
    display: inline-block;
    margin-top: 10%;
    background: transparent;
    border: 0;
    font-size: 15px;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 10px 25px;
    color: #fff;
    border-radius: 25px;
}
.btn:hover{
    cursor: pointer;
    color: green;
    border: 3px solid yellow;
    background: yellow;
}

nav{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
label.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 0 40px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10x;
    border-radius: 3px;
}
a:hover{
    color: blue;
    background: yellow;
    border: 5px solid yellow;
    border-radius: 20%;
    transition: .5s;
}
.active{
    border: 1px solid yellow;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width: 909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
}
.cursor{
    z-index: 999;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
                0 0 60px #2696E8,
                0 0 100px #2696E8;
    animation: colors 3s infinite;
    transform: translate(-50%, -50%);
}
@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.cursor::before{
    content: '';
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}